
<div class="form">
  <%= form_for @publication do |f| %>
      <p><%= f.label :categoria, "Categoria" %>
      <%= f.text_field :categoria %></p>
      <p><%= f.label :cantidad, "Cantidad" %>
      <%= f.text_field :cantidad %></p>
      <p><%= f.label :raza, "Raza" %>
      <%= f.text_field :oferta %></p>
      <p>completa con 1 el que corresponda</p>
      <p><%= f.label :oferta, "Oferta" %>
      <%= f.text_field :oferta %></p>
      <p><%= f.label :demanda, "Demanda" %>
      <%= f.text_field :demanda %></p>
      <%= f.submit %>

  <% end %>
</div>
